
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="" style=" padding-top: 125px;margin-bottom: 125px;">
    <h4>Your Bazar list order has been placed successfullly. One of our agent will processed this order very soon.</h4>
    <h4>Thank you.</h4>

    <h2 style="text-align:center;"><a href="/home">Go to homoepage</a></h2>
</div>