<footer class="ct-footer">
    <div class="container">

        <form name="contentForm" enctype="multipart/form-data" method="post" action="">
            <div class="ct-footer-pre text-center-lg">
                <div class="inner">
                    <span>Signup to receive updates, news &amp; events!</span>
                </div>
                <div class="inner">
                    <div class="form-group">
                        <input name="formfields[nl_email]" id="nl_email" class="validate[required]" placeholder="Enter your email address" type="text" value=""> <label for="nl_email" class="sr-only">Email Address</label> <button type="submit" class="btn btn-motive">Join</button>
                    </div>
                </div>
            </div>
        </form>

        <div class="ct-footer-meta text-center-sm">
            <div class="row">
                <div class="col-md-5">
                    <div class="col-md-6">
                        <ul class="ct-footer-list text-center-sm">
                            <li>
                                <h2 class="ct-footer-list-header">
                                    Learn More
                                </h2>
                                <ul>
                                    <li>
                                        <a href="">About Us</a>
                                    </li>
                                    <li>
                                        <a href="">Terms & Conditions</a>
                                    </li>
                                    <li>
                                        <a href="">Delivery Information</a>
                                    </li>
                                    <li>
                                        <a href="">FAQ</a>
                                    </li>
                                    <li>
                                        <a href="">How to Place an Order</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="ct-footer-list text-center-sm">
                            <li>
                                <h2 class="ct-footer-list-header">
                                    Policy
                                </h2>
                                <ul>
                                    <li>
                                        <a href="">Privacy Policy</a>
                                    </li>
                                    <li>
                                        <a href="">Return Policy</a>
                                    </li>
                                    <li>
                                        <a href="">Replacement Policy</a>
                                    </li>
                                    <li>
                                        <a href="">Warranty Policy</a>
                                    </li>
                                    <li>
                                        <a href="">Cookie Policy</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-6 col-md-2 ct-u-paddingTop10">
                    <a href="" target="_blank"><img alt="app store" src="https://www.solodev.com/assets/footer/appstore.png"></a>
                </div>
                <div class="col-sm-6 col-md-2 ct-u-paddingTop10">
                    <a href="https://play.google.com/store/apps/details?id=mobileapp.shodypati.rasel" target="_blank"><img alt="google play store" src="https://www.solodev.com/assets/footer/androidstore.png"></a>
                </div>
                <div class="col-sm-6 col-md-3">
                    <ul class="ct-socials list-unstyled list-inline">
                        <li>
                            <a href="" target="_blank"><img alt="facebook" src="https://www.solodev.com/assets/footer/facebook-white.png"></a>
                        </li>
                        <li>
                            <a href="" target="_blank"><img alt="twitter" src="https://www.solodev.com/assets/footer/twitter-white.png"></a>
                        </li>
                        <li>
                            <a href="" target="_blank"><img alt="youtube" src="https://www.solodev.com/assets/footer/youtube-white.png"></a>
                        </li>
                        <li>
                            <a href="" target="_blank"><img alt="instagram" src="https://www.solodev.com/assets/footer/instagram-white.png"></a>
                        </li>
                        <li>
                            <a href="" target="_blank"><img alt="pinterest" src="https://www.solodev.com/assets/footer/pinterest-white.png"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="ct-footer-post">
        <div class="container">

            <div class="" style="">
                <p>
                    <strong>Copyright &copy; 2017-2018 <a href="#">Bangladesh</a>.</strong> All rights reserved.
                </p>
                <p class="" style="text-align:right; margin-left:45%;">
                    <b>Shodypati</b> Your Family Partner
                </p>
            </div>

        </div>
    </div>
</footer>
