

<script>
    $(document).on('click', '#close-preview', function () {
        $('.image-preview').popover('hide');
        // Hover befor close the preview
        $('.image-preview').hover(
            function () {
                $('.image-preview').popover('show');
            },
            function () {
                $('.image-preview').popover('hide');
            }
        );
    });

    $(function () {
        // Create the close button
        var closebtn = $('<button/>', {
            type: "button",
            text: 'x',
            id: 'close-preview',
            style: 'font-size: initial;',
        });
        closebtn.attr("class", "close pull-right");
        // Set the popover default content
        $('.image-preview').popover({
            trigger: 'manual',
            html: true,
            title: "<strong>Preview</strong>" + $(closebtn)[0].outerHTML,
            content: "There's no image",
            placement: 'bottom'
        });
        // Clear event
        $('.image-preview-clear').click(function () {
            $('.image-preview').attr("data-content", "").popover('hide');
            $('.image-preview-filename').val("");
            $('.image-preview-clear').hide();
            $('.image-preview-input input:file').val("");
            $(".image-preview-input-title").text("Browse");
        });
        // Create the preview image
        $(".image-preview-input input:file").change(function () {
            var img = $('<img/>', {
                id: 'dynamic',
                width: 250,
                height: 200
            });
            var file = this.files[0];
            var reader = new FileReader();
            // Set preview image into the popover data-content
            reader.onload = function (e) {
                $(".image-preview-input-title").text("Change");
                $(".image-preview-clear").show();
                $(".image-preview-filename").val(file.name);
                img.attr('src', e.target.result);
                $(".image-preview").attr("data-content", $(img)[0].outerHTML).popover("show");
            }
            reader.readAsDataURL(file);
        });
    });
</script>
<style>
    .image-preview-input {
        position: relative;
        overflow: hidden;
        margin: 0px;
        color: #333;
        background-color: #fff;
        border-color: #ccc;
    }

        .image-preview-input input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }

    .image-preview-input-title {
        margin-left: 2px;
    }

   
</style>

<!-- image-preview-filename input [CUT FROM HERE]-->
<div class="input-group image-preview">
    <input type="text" id="fileurl" class="form-control image-preview-filename" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->

    <img id="imgSrc" style="max-height:120px;max-width:120px"/>

    <span class="">
        <!-- image-preview-clear button -->
        <button type="button" class="btn btn-default image-preview-clear" style="display:none;" onclick="preclearfile(event)">
            <span class="glyphicon glyphicon-remove"></span> Clear
        </button>
        <input type="text" id="filename" hidden/>
        <script>
            function clearfile(imagepath)
            {
                $("#status").html("Please, select a file");
                $("#status1").html("");
                $("#loaded_n_total").html("");
                imagepath.val("");

                var fileName = $("#filename").val();
                $.ajax({
                    url: '/Products/DeleteFile/?file=' + fileName,
                    type: 'GET',
                    success: function (result) {
                        // Do something with the result
                    }
                });
            }
        </script>
       

        <!-- image-preview-input -->
        <div class="btn btn-default image-preview-input col-md-2" style="width:200px;">
            <span class="glyphicon glyphicon-folder-open"></span>
            <span class="image-preview-input-title">Browse</span>
            <input type="file" accept="image/png, image/jpeg, image/gif" id="fileinput" onchange="preupload(event)" name="input-file-preview" /> <!-- rename it -->
        </div>

    </span>
</div><!-- /input-group image-preview [TO HERE]-->


<p id="status"></p>
<p id="status1"></p>
<p id="loaded_n_total"></p>


<script>
    //test
    function uploadProgressHandler(event) {
        $("#loaded_n_total").html("Uploaded " + event.loaded + " bytes of " + event.total);
        var percent = (event.loaded / event.total) * 100;
        var progress = Math.round(percent);
        $("#uploadProgressBar").html(progress + " percent progress");
        $("#uploadProgressBar").css("width", progress + "%");
        $("#status1").html(progress + "% uploaded");
        $("#status").html("uploading....");
        console.log(" event.loaded" + event.loaded + ", event.total" + event.total);
        console.log(progress + " percent na ang progress");
    }

    function loadHandler(event) {
        $("#status").html("Upload successfully.");
        $("#uploadProgressBar").css("width", "100%");
        console.log("event.target.responseText: " + event.target.responseText);
    }

    function errorHandler(event) {
        $("#status").html("Upload Failed");
        console.log("Upload Failed");
    }

    function abortHandler(event) {
        $("#status").html("Upload Aborted");
        console.log("Upload Aborted");
    }

    //end test
    function upload(files, url, imagepath, rawimagepath) {
        //   var files = $("#fileinput")[0].files;
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }

                $.ajax({
                    type: "POST",
                    url: url,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    data: data,

                    success: function (data) {
                        if (data != null) {
                           
                            var add = data.files[0].url;
                            //remove / in /content
                            imagepath.val(add);
                            rawimagepath.val(add);

                            console.log("filename" + data.files[0].name);
                            $("#filename").val(data.files[0].name);

                        }
                    },
                    xhr: function () {
                        var xhr = new window.XMLHttpRequest();
                        xhr.upload.addEventListener("progress",
                            uploadProgressHandler,
                            false
                        );

                        xhr.addEventListener("load", loadHandler, false);
                        xhr.addEventListener("error", errorHandler, false);
                        xhr.addEventListener("abort", abortHandler, false);

                        return xhr;
                    }
                });
            }
        }
    }

   
</script>